.details-container {
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Esto alinea los elementos a la izquierda */
    width: 100%; /* O ajusta el ancho que necesites */
    margin-top: 20px; /* Espaciado entre el título y los elementos de info */
}

.text {
    color: var(--color-third);
    padding: 0 20px;
}



.details-container h2 {
    text-align: center;
    margin: 10px 0;
}