.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text {
    color: var(--color-third);
    padding: 0 20px;
}

.icon {
    fill: var(--color-third);
}

.photo {
    margin: 20px 0;
}

.details-container h2 {
    margin: 10px 0;
}