.content-container{
    display: flex;
    flex-direction: column; /* Permite que crezca con su contenido */
    background-color: var(--color-font);
    width: 60%;
    padding: 1rem;

}

.content-title {
    align-self: flex-start; /* Se asegura de que quede a la izquierda */
    text-align: left;
    
}

.content-container h1{
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 800;
    margin-top: 25px;
    gap: 5px;
    padding-bottom: 5px;
    
  }
  
  .content-container h2 {
    color: var(--color-primary);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }
  

  /* Diseño responsive para móviles */
@media screen and (max-width: 500px) {


  .content-container {
      width: 100%; /* Hace que el Sidebar ocupe todo el ancho en móviles */
  }
}